In [124]:
import pandas as pd
import csv

In [125]:
def organizacao_tabela(base):
  #Leitura da tabela
  df = pd.read_csv(base)
  #Concatenação das colunas de nome
  df['Nome Completo'] = df['Primeiro Nome'] + ' ' + df['Segundo Nome']
  #Renomear a coluna de números como ID
  df.rename(columns={'Número': 'ID'}, inplace = True)
  df.rename(columns={'Valor da Compra': 'Valor Mes'}, inplace = True)
  #Drop das colunas de nome antigas
  df = df.drop('Primeiro Nome', axis = 1)
  df = df.drop('Segundo Nome', axis = 1)
  #Ordenando as linhas de acordo com as compras
  df_ordenado = df.sort_values(by=['Valor Mes'], ascending=False)

  print(f'Valores Ordenados\n\n {df_ordenado}')
  return df_ordenado
#Declarando df como uma variável global
df = organizacao_tabela(base = '/content/Base_ficticia_loja.csv')

#Funções que vão selecionar os primeiros e últimos do df
def selec_top3(organizacao_tabela):
  head3= df.head(3)
  return head3
#declarando como variável global
head3 = selec_top3('/content/Base_ficticia_loja.csv')

def selec_last3(organizacao_tabela):
  tail3= df.tail(3)
  return tail3
#declarando como variável global
tail3 = selec_last3('/content/Base_ficticia_loja.csv')

Valores Ordenados

     ID  Valor Mes   Estado de Compra       Nome Completo
32  32     410.20        Mato Grosso    Fernando Barbosa
22  22     320.90       Minas Gerais      Paulo Carvalho
38  38     315.70            Roraima    Vinícius Correia
4    4     310.75  Rio Grande do Sul        Carlos Souza
12  12     310.00        Mato Grosso       Roberto Souza
24  24     280.60  Rio Grande do Sul         Lucas Silva
2    2     220.30       Minas Gerais      Pedro Oliveira
18  18     220.20            Roraima     Thiago Oliveira
20  20     210.50          São Paulo         André Lopes
29  29     210.30              Goiás   Patrícia Silveira
8    8     200.45              Ceará      Marcos Pereira
36  36     190.00               Acre  Daniel Albuquerque
6    6     180.10             Paraná      Luiz Fernandes
39  39     170.40           Maranhão      Carla Teixeira
14  14     160.80           Rondônia        André Santos
27  27     160.25         Pernambuco    Camila Rodrigues
0    0     150.00          São Paulo          João Silva
16  16     130.45               Acre      Gabriel Castro
34  34     124.40           Rondônia        Thales Costa
9    9     120.60              Goiás    Isabela Oliveira
19  19     110.90           Maranhão    Carolina Pereira
28  28     110.20              Ceará     Gustavo Almeida
30  30      95.90     Espírito Santo        Eduardo Lima
15  15      95.70          Tocantins       Beatriz Silva
5    5      95.20     Santa Catarina       Laura Almeida
25  25      92.75     Santa Catarina   Isabella Ferreira
10  10      85.75     Espírito Santo    Renato Rodrigues
23  23      85.20              Bahia        Marina Souza
33  33      82.10           Amazonas       Mariana Gomes
35  35      77.30          Tocantins     Larissa Pereira
1    1      75.50     Rio de Janeiro        Maria Santos
26  26      75.40             Paraná      Rafael Martins
13  13      75.25           Amazonas          Júlia Lima
7    7      62.30         Pernambuco       Juliana Costa
17  17      57.30              Amapá     Patrícia Mendes
37  37      53.80              Amapá         Sandra Melo
3    3      45.90              Bahia         Ana Pereira
21  21      45.70     Rio de Janeiro        Amanda Alves
11  11      42.90            Sergipe       Lúcia Ribeiro
31  31      37.60            Sergipe      Flávia Santana

In [126]:
#Textos para mensagens como variável global, afim de economizar espaço e trabalho nas próximas funções
texto_top3 = 'você está entre nossos principais clientes, por isso, estamos lhe oferecendo um cartão fidelidade da nossa loja! Sem custo algum, entre em contato com nosso suporte para obter os benefícios!'
texto_last3 ='esta mensagem lhe concede um cumpom de desconto progressivo de até 40% off em qualquer compra em nossa loja! Não deixe de aproveitar a oportunidade!'

In [127]:
#Geração dos textos como itens de lista
def geracao_top3(head3):
  final_top3 = []
  for primeiros in head3['Nome Completo']:
    final_top3.append(f'Olá {primeiros}! {texto_top3}')
  return final_top3
 #o retorno é a lista
print("")
def geracao_last3(tail3):
  final_last3 = []
  for ultimos in tail3['Nome Completo']:
    final_last3.append(f'Olá {ultimos}! {texto_last3}')
  return final_last3
  #o retorno é a lista

In [128]:
#Funções de Geração dos arquivos csv
def csv_top3 (geracao_top3):
  #Por conta dos acentos, foi necessário utilizar um encoding específico, uma vez que o utf-8 não era capaz de tal
  with open ('top3.csv', 'w',newline = '', encoding = 'ISO-8859-1') as file:
    writer = csv.writer(file)
    #Estrutura de repetição para criar linhas, onde cada linha é um valor da lista
    for i in range(3):
      writer.writerow([geracao_top3[i-1]])
    return True
#Mesmas técnicas usadas acima
def csv_last3(geracao_last3):
  with open ('last3.csv', 'w',newline = '', encoding = 'ISO-8859-1') as file:
    writer = csv.writer(file)
    for i in range(3):
      writer.writerow([geracao_last3[i-1]])
    return True

In [129]:
csv_top3(geracao_top3(head3))
csv_last3(geracao_last3(tail3))

True